.RData
.Rhistory
.Rproj.user
.Ruserdata
docs/reference/*/
docs/reference/*.bib
docs/reference/*.rda
docs/reference/*.R
docs/reference/*.Rmd
docs/reference/*.yaml
tests/testthat/*/
tests/testthat/_*.R
tests/testthat/*.bib
tests/testthat/*.rda
tests/testthat/*.Rmd
tests/testthat/*.yaml
tests/testthat/*.yml
