.RData
.Rhistory
.Rproj.user
.Ruserdata
docs/reference/*/
tests/testthat/*/
tests/textthat/*.bib
tests/textthat/*.rda
tests/textthat/*.Rmd
tests/textthat/*.yaml
tests/textthat/setup.R
/docs/reference/_footer.Rmd
/docs/reference/_header.Rmd
/docs/reference/_output.yaml
/docs/reference/setup.R
/docs/reference/bibliography.bib
